* {
  padding: 0;
  margin: 0;
}

header {
  position: fixed;
  background: rgb(193, 39, 45);
  background: -webkit-linear-gradient(rgb(193, 39, 45), black);
  background: -o-linear-gradient(rgb(193, 39, 45), black);
  background: -moz-linear-gradient(rgb(193, 39, 45), black);
  background: linear-gradient(rgb(193, 39, 45), black);
  min-width: 100%;
  min-height: 100%;
}

.mainboks {
  margin: 0 auto;
  width: 50%;
  height: 720px;
  background: white;
  border-radius: 0px 0px 25px 25px;
}

#backgroundlogo {
  background-image: url("backgroundlogo123.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 135px;
}

 #logo {
   position: absolute;
   background-image: url("ESCAPEglow.png");
   background-repeat: no-repeat;
   background-size: contain;
   height: 150px;
   width: 300px;
   margin-left: 0px;
   margin-top: -15px;
 }

#massertekst p {
  margin-left: 18px;
  font-size: 17px;
 }

#massertekst {
  font-family: 'Chivo', sans-serif;
  color: rgb(193, 39, 45);
  columns: 100px 3;
  margin-top: 15px;
}

h1 {
  margin-top: 15px;
  text-align: center;
  font-family: 'Chivo', sans-serif;
  color: rgb(193, 39, 45);
}

  hr {
    width: 95%;
    margin-left: 15px;
    border-color: rgb(193, 39, 45);
    border-top: 1px solid rgb(193, 39, 45);
  }

  .drikkevare {
    margin-top: 10px;
  }

  #massertekst .lavpris {
    font-size: 14px;
    margin-left: 10px;
  }

  #massertekst .drikkevare2 {
    float: left;
  }

  #massertekst .pris {
    float: right;
  }
