* {
  padding: 0;
  margin: 0;
}

section {
  background: rgb(193, 39, 45);
  background: -webkit-linear-gradient(rgb(193, 39, 45), black);
  background: -o-linear-gradient(rgb(193, 39, 45), black);
  background: -moz-linear-gradient(rgb(193, 39, 45), black);
  background: linear-gradient(rgb(193, 39, 45), black);
  height: 1575px;
}

.mainboks {
  margin: 0 auto;
  width: 750px;;
  height: 1525px;
  background: white;
  border-radius: 0px 0px 25px 25px;
}

#backgroundlogo {
  background-image: url("baggrundlogo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 135px;
}

 #logo {
   position: absolute;
   background-image: url("ESCAPEglow.png");
   background-repeat: no-repeat;
   background-size: contain;
   height: 150px;
   width: 275px;
   margin-top: -15px;
 }

#massertekst p {
  font-size: 17px;
 }

#massertekst {
  height: 800px;
  width: 500px;
  margin: 0 auto;
  font-family: 'Chivo', sans-serif;
  color: rgb(193, 39, 45);
  margin-top: 15px;
  text-align: center;
}

#drinkscarlsberg {
  position: absolute;
  background-image: url("carlsberg.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  width: 200px;
  margin-left: 95px;
  margin-top: 25px;
}

#drinkstuborg {
  position: absolute;
  background-image: url("tuborg.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  width: 200px;
  margin-left: 75px;
  margin-top: 25px;
}

#alledrinks {
  margin: 0 auto;
  height: 400px;
}

h1 {
  margin-top: 15px;
  text-align: center;
  font-family: 'Chivo', sans-serif;
  color: rgb(193, 39, 45);
}

hr {
  width: 45%;
  border-color: rgb(193, 39, 45);
  border-top: 1px solid rgb(193, 39, 45);
  margin: 0 auto;
}

#drinksbillede {
  position: absolute;
  background-image: url("drinks.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  width: 200px;
  margin-left: 450px;
  margin-top: -25px;
}

.drikkevare {
  margin-top: 20px;
}

#massertekst .lavpris {
  font-size: 12px;
}

#massertekst .drikkevare2 {
  float: left;
  margin-left: 28%;
}

#massertekst .pris {
  float: right;
  margin-right: 28%;
}

#massertekst .drikkevare {
  font-size: 20px;
}

#massertekst .indhold {
  font-size: 17px;
}

#massertekst .indhold3 {
  font-size: 15px;
}

#massertekst .indhold2 {
  font-size: 13px;
}

#drinks2 {
  position: absolute;
  margin: 0 auto;
  margin-top: 45px;
  width: 500px;
  -webkit-columns: 100px 2;
  -moz-columns: 100px 2;
  -o-columns: 100px 2;
  columns: 100px 2;
}

#contactus {
  margin-top: 500px;
  font-family: 'Chivo', sans-serif;
  color: rgb(193, 39, 45);
  font-size: 13px;
  text-align: center;
}
